<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - HotelManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="admin_header container-fluid">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="">
            <img src="~/imgs/logo.png" alt="logo" class="admin_logo" width="50px" height="50px">
            <h1 class="admin_logo_text">L&T Hotel</h1>
        </a>
    </div>
    <div class="device"></div>
    <div class="admin_body">
        <div class="admin_side">
            <a sp-area="Admin" asp-controller="Home" asp-action="Index" class="sidebar_item">
                <i class="fa fa-home"></i>
                <h5>Trang chủ</h5>
            </a>
             <a sp-area="Admin" asp-controller="Room" asp-action="Index" class="sidebar_item">
                <i class="fas fa-door-open"></i>
                <h5>Phòng</h5>
            </a>
             <a sp-area="Admin" asp-controller="Booking" asp-action="Index" class="sidebar_item">
                <i class="fa-solid fa-book"></i>
                <h5>Đặt Phòng</h5>
            </a>
             <a sp-area="Admin" asp-controller="Customer" asp-action="Index" class="sidebar_item">
                <i class="fa-solid fa-user"></i>
                <h5>Khách Hàng</h5>
            </a>
             @* <a sp-area="Admin" asp-controller="Home" asp-action="Index" class="sidebar_item">
                <i class="fa-solid fa-bookmark"></i>
                <h5>Báo Cáo</h5>
            </a> *@
            <div style="height: 180px;"></div>
            <hr>
            <a sp-area="Admin" asp-controller="Home" asp-action="Index" class="sidebar_item bottom">
                <i class="fa-solid fa-gear"></i>
                <h5>Cài Đặt</h5>
            </a>
        </div>
        <div class="admin_main">
            @RenderBody()
        </div>
    </div>
</body>

</html>