@using Microsoft.AspNetCore.Identity
@using HotelManagement.Models
@using Microsoft.AspNetCore.Mvc.ViewEngines

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ICompositeViewEngine Engine

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tobook.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelManagement.styles.css" asp-append-version="true" />
</head>

<body>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (Engine.FindView(ViewContext, "_AdminLayout", false).Success)
        {
            @await Html.PartialAsync("_AdminLayout")
        }
    } else {
        @Html.PartialAsync("_UserLayout")
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popup.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
