@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <div class="dropdown info">
            <a class="btn btn-light dropdown-toggle fw-bold" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Xin chào @UserManager.GetUserName(User)!
            </a>

            <ul class="dropdown-menu info-drop" aria-labelledby="dropdownMenuLink">
                @* <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <button type="submit" class="text-reset text-capitalize dropdown-item"
                            style="line-height: 36px; border-radius: 0;">Thông tin tài khoản</button>
                    </form>
                </li> *@
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="text-reset text-capitalize dropdown-item"
                            style="line-height: 36px; border-radius: 0;">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </form>
}
else
{
    <a class="nav-link fw-bold btn-light" style="padding: 12px 24px; border-radius: 12px;" asp-area="Identity"
        asp-page="/Account/Login">Đăng nhập</a>
}
