@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="bg-image">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
                class="form-horizontal form" role="form">
                <h1>Đăng nhập</h1>
                <span>Sử dụng tài khoản email của bạn</span>
                <input asp-for="UserNameOrEmail" placeholder="Email" />
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                <input type="password" asp-for="Password" placeholder="Mật khẩu" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <a asp-action="ForgotPassword">Quên mật khẩu?</a>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 style="margin-bottom: 50px;">Chào Mừng Quý Khách</h1>
                    <p>Đăng ký trở thành thành viên của khách sạn để được hưởng những ưu đãi hấp dẫn</p>
                    <a class="nav-link fw-bold btn-light" style="padding: 12px 24px; border-radius: 12px;"
                        asp-area="Identity" asp-controller="Account" asp-action="Register">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
