@* @using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="bg-image">
<div class="container" id="container">
        <div class="form-container sign-up-container">
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h1>Tạo Tài Khoản</h1>
                <span>Sử dụng email của bạn để đăng ký tài khoản mới</span>
                <input asp-for="UserName" placeholder="Username"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input asp-for="UserNameOrEmail" placeholder="Email"/>
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                <input type="password" asp-for="Password" placeholder="Mật khẩu"/>
                <span asp-validation-for="Password" class="text-danger"></span>
                <button type="submit">Đăng ký</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h1>Đăng nhập</h1>
                <span>Sử dụng tài khoản email của bạn</span>
                <input asp-for="UserNameOrEmail" placeholder="Email"/>
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                <input type="password" asp-for="Password" placeholder="Mật khẩu"/>
                <span asp-validation-for="Password" class="text-danger"></span>
                <a asp-action="ForgotPassword">Quên mật khẩu?</a>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 style="margin-bottom: 70px;">Chào Mừng <br>Trở Lại</h1>
                    <p>Xin vui lòng đăng nhập để giữ liên kết với chúng tôi</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 style="margin-bottom: 50px;">Chào Mừng Quý Khách</h1>
                    <p>Đăng ký trở thành thành viên của khách sạn để được hưởng những ưu đãi hấp dẫn</p>
                    <button class="ghost" id="signUp">
                        Đăng ký
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
} *@
