@inject SignInManager<User> SignInManager

@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

<div class="bg-image">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"
                method="post" class="form-horizontal form" role="form">
                <h1>Tạo Tài Khoản</h1>
                <span>Sử dụng email của bạn để đăng ký tài khoản mới</span>
                <input asp-for="UserName" placeholder="Username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input asp-for="Email" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="password" asp-for="Password" placeholder="Mật khẩu" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <button type="submit">Đăng ký</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 style="margin-bottom: 70px;">Chào Mừng <br>Trở Lại</h1>
                    <p>Xin vui lòng đăng nhập để giữ liên kết với chúng tôi</p>
                    <a class="nav-link fw-bold btn-light" style="padding: 12px 24px; border-radius: 12px;"
                        asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
