.section-title {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.section-title b {
    background-color: black;
    opacity: 1;
    display: block;
    flex: 1;
    height: 2px;
}