@model string
<h4 class="section-title section-title-center container" style="margin-top:70px">
    <b style="background-color: #d1c7ba;"></b>
    <span class="section-title-main" style="color: #df932a; padding: 0 28px 0 28px; font-size: 27px">@Model</span>
    <b style="background-color: #d1c7ba;"></b>
</h4>