@{
    ViewData["Title"] = "Xác nhận";
}

<div class="bg-image">
    <div style="height: 320px; width: 400px; background-color: white; padding: 20px; border-radius: 20px;">
        <h2>Bạn đã đặt phòng thành công!! Đơn hàng đang chờ được xử lý!!</h2>
        <a asp-area="" asp-controller="Home" asp-action="ToBook">
            <button style="margin:36px 60px">Tiếp tục đặt phòng</button>
        </a>
    </div>
</div>