@{
    ViewData["Title"] = "Home";
}

<div class="backgound-slice">
    <div class="slide-in-down">
        <p>Welcome</p>
        <p>L&T Hotel</p>
        <a asp-area="" asp-controller="RoomBooking" asp-action="Index">
            <button>Đặt phòng</button>
        </a>
    </div>
</div>

