@{
    ViewData["Title"] = "Home";
}

<div class="bg-image">
    <div class="slide-in-down">
        <h1>Welcome</h1>
        <h1>L&T Hotel</h1>
        <a asp-area="" asp-controller="Home" asp-action="DisplayAvailableRooms">
            <button>Đặt phòng</button>
        </a>
    </div>
</div>

