<div class="backgound-slice">
    <div class="slide-in-down">
        <p>Welcome</p>
        <p>L&T Hotel</p>
        <a asp-area="" asp-controller="Home" asp-action="ToBook">
            <button>Đặt phòng</button>
        </a>
    </div>
</div>

