@* @model IEnumerable<HotelManagement.Models.Room>
@if (User.Identity.IsAuthenticated)
{
    <h4 class="section-title section-title-center container" style="margin-top:142px">
        <b style="background-color: #d1c7ba;"></b>
        <span class="section-title-main" style="color: #df932a; padding: 0 28px 0 28px;">Chọn phòng</span>
        <b style="background-color: #d1c7ba;"></b>
    </h4>
    <div class="icon_tobook" onclick="openPopup()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket3"
            viewBox="0 0 16 16">
            <path
                d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z" />
        </svg>
    </div>
    <div class="popup">
        <partial name="_RoomInfoPartial" />
        <p>Đây là nội dung của popup.</p>
        <button id="close-popup-btn" onclick="closePopup()">Đóng</button>
    </div>
    <div class="container form-search">
        <div>
            <span>Xin hãy kiểm tra chỗ trống</span>
        </div>
        <div class="search_date">
            <div>
                <p>Nhận phòng</p>
                <p>6/7</p>
            </div>
            <div>
                <p>Trả phòng</p>
                <p>7/7</p>
            </div>
        </div>
        <button class="btn_s">
            Tìm kiếm
        </button>
    </div>
    <div class="container">
        <h5 class="section-title section-title-center container" style="margin-top:62px; margin-bottom: 17px;">
            <b style="background-color: #d1c7ba; flex: 0.3; margin-left: 160px;"></b>
            <span class="section-title-main" style="color: #e1bb87; padding: 0 28px 0 28px;">Phòng đôi</span>
            <b style="background-color: #d1c7ba; flex: 0.3; margin-right: 160px;"></b>
        </h5>
        <div class="room">
            @foreach (var item in Model)
            {
                <div class="room-cash">
                    <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                    <div class="room_des">
                        <p style="margin: 10px 5px 5px 5px">
                            <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                            Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                            đình hoặc cặp đôi
                        </p>
                        <p style="margin: 10px 5px 5px 5px">
                            <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Tên phòng:
                            </span>
                            @Html.DisplayFor(modelItem => item.Name)
                        </p>
                    </div>
                    <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                        Giá: 3,000,000 vnđ
                    </p>
                    
                    <button class="room_btn" id ="AddRoom">Chọn phòng</button>
                </div>
            }
            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                    Giá: 3,000,000 vnđ
                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>
            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">

                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>
            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                    Giá: 3,000,000 vnđ
                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>



            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                    Giá: 3,000,000 vnđ
                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>
        </div>

        <h5 class="section-title section-title-center container" style="margin-top:62px; margin-bottom: 17px;">
            <b style="background-color: #d1c7ba; flex: 0.3; margin-left: 160px;"></b>
            <span class="section-title-main" style="color: #e1bb87; padding: 0 28px 0 28px;">Phòng đơn</span>
            <b style="background-color: #d1c7ba; flex: 0.3; margin-right: 160px;"></b>
        </h5>
        <div class="room">
            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                    Giá: 3,000,000 vnđ
                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>
            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                    Giá: 3,000,000 vnđ
                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>
            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                    Giá: 3,000,000 vnđ
                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>
            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                    Giá: 3,000,000 vnđ
                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>
            <div class="room-cash">
                <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                <div class="room_des">
                    <p style="margin: 10px 5px 5px 5px">
                        <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                        Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                        đình hoặc cặp đôi
                    </p>
                </div>
                <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                    Giá: 3,000,000 vnđ
                </p>
                <button class="room_btn">Chọn phòng</button>
            </div>
        </div>
        <h4 class="section-title section-title-center container" style="margin-top:62px">
            <b style="background-color: #d1c7ba;"></b>
            <span class="section-title-main" style="color: #df932a; padding: 0 28px 0 28px;">Nhập thông tin đặt phòng</span>
            <b style="background-color: #d1c7ba;"></b>
        </h4>
        <div class="booking">
            <div class="booking-infor">
                <div class="bki">
                    <div class="bki-padding">
                        <div class="bki_1">
                            <p>Số lượng phòng: 2</p>
                            <p>Số lượng người: 1 </p>
                        </div>
                        <div class="bki_2">
                            <p style="margin-top: 10px; text-align: center; font-size: 16px; font-weight: bold">Thông tin
                                chi tiết</p>
                            <label for="">Họ tên đầy đủ: </label>
                            <input type="text">
                            <br>
                            <label for="">Số điện thoại: </label>
                            <input type="text">
                            <br>
                            <label for="">Email: </label>
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="bki-price">
                    <div class="bki-padding">
                        <h5 style="text-align: center; font-size: 16px;">Tổng chi phí</h5>
                        <p>Phí phòng</p>
                    </div>
                </div>
            </div>
            <div class="book_button">
                <button>
                    Gửi thông tin
                </button>
            </div>
        </div>
    </div>
}
else
{
    <div class="container text-center mt-5">
        <p>Bạn cần đăng nhập để tiếp tục.
            <br>
            Hãy <a asp-area="Identity" asp-page="/Account/Login">đăng nhập</a>
            hoặc <a asp-area="Identity" asp-page="/Account/Register">đăng ký</a>.
        </p>
    </div>
} *@