.admin_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3e5d1;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 4px 8px rgba(39, 35, 35, 0.3);
}

.admin_header a {
    text-decoration: none;
    color: rgb(59, 45, 45);

    display: flex;
    align-items: center;
}

.admin_logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-right: 12px;
}

.device {
    height: 60px;
    width: 100vw;
}

.admin_body {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
}

.admin_side {
    min-height: calc(100vh - 60px);
    width: 50px;
    padding-top: 20px;
    box-shadow: 0px 4px 8px rgba(39, 35, 35, 0.3);
    overflow: hidden;
}

.admin_side:hover {
    width: 200px;
}

.sidebar_item {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-bottom: 24px;
    height: 40px;
}

.sidebar_item i {
    width: 30px;
    font-size: 24px;
    margin: 0 20px 0 12px;
}

.sidebar_item h5 {
    line-height: 24px;
    font-size: 16px;
    margin: 0;
}

.admin_main {
    margin: 12px;
    box-shadow: 0px 4px 8px rgba(39, 35, 35, 0.3);
    width: 100%;
}

.admin_home {
    padding: 12px;
}

.home_header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    font-weight: 600;
}

.home_header {
    margin-right: 12px;
}

.search {
    background-color: #f3e5d1;
    padding: 12px;
    border-radius: 12px;
}

.search_form {
    display: flex;
    position: relative;
}

.form-group {
    margin-right: 12px;
}

.search_btn {
    height: 36px;
    width: 36px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 24px;
}

.home_add {
    padding: 4px 8px;
    border-radius: 8px;
    background-color: #f3e5d1;
}

.home_add:hover {
    cursor: pointer;
}