.form-search {
    width: 100%;
    height: 100px;
    background-color: #ac9c86;
}
.icon_tobook{
    position: fixed;
    bottom: 50%;
    right: 20px;
    background-color: #ac9c86;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.popup {
    width: 400px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 12px 12px 22px rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: none;
    
}
.step {
    margin-top: 58px;
    
}

.step>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.step>ul>li>a {
    text-decoration: none;
    color: #ad9e87;
}

.step>ul>b {
    background-color: #ad9e87;
    /* display: block; */
    /* flex: 1; */
    height: 2px;
    width: 68px;
    margin-top: 14px;
}

.form-search {
    margin-top: 39px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c9ac83;
}

.search_date {
    display: flex;
    border-right: seashell solid 1px;  
    padding: 0 10px 0 10px;
}

.search_date input {
    border: none;
}

.search_number {
    display: flex;
    border-left: seashell solid 1px;
    border-right: seashell solid 1px;
    justify-content: space-around;
    width: 300px;
    padding: 0 10px 0 10px;
}

.se {

    display: block;
    border-left: white;
}

.btn_s {
    height: 50px;
    background-color: #ac9c86;
    border: 2px solid #fff;
}

.room {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.room-cash {
    box-shadow: 9px 10px 9px rgba(0, 0, 0, 0.3);
    width: 30%;
    border: #ac9c86 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.room_img {
    width: 100%;
    height: 250px;
}

.room_btn {
    height: 45px;
    border: none;
    background-color: #dfab63;
    color: aliceblue;
    margin-bottom: 10px;
}

.booking {
    border: #ac9c86 solid 1px;
    /* margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
} */
}
.booking-infor {
    display: flex;
    justify-content: space-around;
}

.bki {
    border: #ad9e87 solid 1px;
    width: 400px;
    height: 100%;
    margin-top: 30px;
}

.bki_1 {
    border-bottom: #914646 solid 1px;
}

.bki-price {
    background-color: #f9f9f9;
    width: 400px;
    height: 400px;
    margin-top: 30px;
}

.bki-padding {
    padding: 20px;
}

.bki_2 {
    display: flex;
    flex-direction: column;
}

.bki_2>input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #f1aa4d solid 1px;
}

.book_button {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.book_button>button{
    box-shadow: 8px 2px 4px #d4ae7c;
}

.room_btn:hover {
    box-shadow: 8px 2px 4px rgba(204, 166, 63, 0.8);
}
.room_btn:active{
    box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.8);
}

.book_button>button:active{
    box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.8);
}
.text_1 {
    color: rgb(185, 138, 138); 
    text-decoration: underline; 
    font-size: 19px; font-weight: 600
}
.text_2 {
    margin: 10px 5px 5px 5px;
}