<div class="admin_home">
    <div class="home_header">
        <div class="home_title">
            <i class="fas fa-door-open"></i>
            Quản Lý Phòng
        </div>
        <div class="home_add">

        </div>
    </div>
    <div class="search">
        <form action="" class="search_form">
            <div class="form-group col-3">
                <label for="exampleFormControlInput1">Tên Phòng</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" value="@ViewBag.customer">
            </div>
            <div class="form-group col-3">
                <label for="exampleFormControlInput1">Trạng Thái</label>
                <select class="form-control " id="exampleFormControlSelect1">
                    <option>Tất cả trạng thái</option>
                    <option>Chờ check-in</option>
                    <option>Đang sử dụng</option>
                    <option>Đã hoàn thành</option>
                </select>
            </div>
            <div class="search_btn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col-1" class="fw-regular text-center">STT</th>
                <th scope="col-1" class="fw-regular text-center">Phòng</th>
                <th scope="col-1" class="fw-regular text-center">Loại Phòng</th>
                <th scope="col-1" class="fw-regular text-center">Trạng thái</th>
                <th scope="col-1" class="fw-regular text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row" class="text-center">1</th>
                    <td class="text-center">P101</td>
                    <td class="text-center">14/11/2023</td>
                    <td class="text-center">14/11/2023</td>
                    <td>Phạm Bá Thọ</td>
                    <td class="text-center">0336421361</td>
                    <td class="text-center">Chờ check-in</td>
                    <td class="text-center">
                        <i class="fa-solid fa-bars"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>