<div class="backgound-slice">
    <div class="slide-in-down">
        <p>Welcome</p>
        <p>L&T Hotel</p>
        <a asp-area="" asp-controller="Home" asp-action="ToBook">
            <button>Đặt phòng</button>
        </a>
    </div>
    
</div>
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <h2 class="section-title section-title-center">
    <b></b>
    <span class="section-title-main">Introduce</span>
    <b></b>
    </h2>
    <p>
        Welcome to L&T Hotel, where luxury meets comfort, and every stay is a memorable experience.

        Nestled in the heart of Ha Noi, our hotel offers a perfect blend of sophistication and warm
        hospitality. Whether you're here for business or leisure, our dedicated team is committed to ensuring your stay
        exceeds expectations.

        Indulge in our well-appointed rooms and suites, each designed with a meticulous attention to detail. From modern
        amenities to elegant decor, we provide a tranquil retreat for our guests.

        Savor exquisite culinary delights at our on-site restaurants, where our chefs craft a culinary journey that
        tantalizes the taste buds. Whether it's a casual meal or a special celebration, our dining options cater to
        every palate.

        Unwind and rejuvenate at our spa and wellness facilities, where you can relax in style. Our state-of-the-art
        fitness center and refreshing pool offer the perfect balance between relaxation and invigoration.

        For your business needs, we provide cutting-edge meeting and event spaces equipped with the latest technology.
        Host your conferences, seminars, or celebrations with confidence, supported by our professional staff.

        At L&T Hotel, we pride ourselves on creating an atmosphere of genuine care. Our commitment to excellence
        ensures that every moment of your stay is marked by unparalleled service and a sense of true luxury.

        Experience the epitome of hospitality at L&T Hotel. Your journey begins with us.
    </p>
</div>

