<div class="step container">
    <ul>
        <li>
            <svg color="#ad9e87" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-1-circle" viewBox="0 0 16 16">
                <path
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z" />
            </svg>
            <a href="">Kiểm tra chỗ trống</a>
        </li>
        <b></b>
        <li>
            <svg color="#ad9e87" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-2-circle" viewBox="0 0 16 16">
                <path
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z" />
            </svg>
            <a href="">Chọn phòng</a>
        </li>
        <b></b>
        <li>
            <svg color="#ad9e87" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-3-circle" viewBox="0 0 16 16">
                <path
                    d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z" />
            </svg>
            <a href="">Nhập thông tin đặt phòng</a>
        </li>
    </ul>
</div>

<h4 class="section-title section-title-center container" style="margin-top:62px">
    <b style="background-color: #d1c7ba;"></b>
    <span class="section-title-main" style="color: #df932a; padding: 0 28px 0 28px;">Kiểm tra chỗ trống</span>
    <b style="background-color: #d1c7ba;"></b>
</h4>

<div class="container form-search">
    <div>
        <span>Xin hãy kiểm tra chỗ trống</span>
    </div>
    <div class="search_date">
        <div>
            <p>Nhận phòng</p>
            <p>6/7</p>
        </div>
        <p>1 đêm</p>
        <div>
            <p>Trả phòng</p>
            <p>7/7</p>
        </div>
    </div>
    <div class="search_number">
        <div>
            <p>Loại phòng</p>
            <p>1</p>
        </div>

    </div>
    <button class="btn_s">
        Tìm kiếm
    </button>
</div>

<h4 class="section-title section-title-center container" style="margin-top:62px">
    <b style="background-color: #d1c7ba;"></b>
    <span class="section-title-main" style="color: #df932a; padding: 0 28px 0 28px;">Chọn phòng</span>
    <b style="background-color: #d1c7ba;"></b>
</h4>

<div class="container">
    <h5 class="section-title section-title-center container" style="margin-top:62px; margin-bottom: 17px;">
        <b style="background-color: #d1c7ba; flex: 0.3; margin-left: 160px;"></b>
        <span class="section-title-main" style="color: #e1bb87; padding: 0 28px 0 28px;">Phòng đôi</span>
        <b style="background-color: #d1c7ba; flex: 0.3; margin-right: 160px;"></b>
    </h5>
    <div class="room">
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
    </div>

    <h5 class="section-title section-title-center container" style="margin-top:62px; margin-bottom: 17px;">
        <b style="background-color: #d1c7ba; flex: 0.3; margin-left: 160px;"></b>
        <span class="section-title-main" style="color: #e1bb87; padding: 0 28px 0 28px;">Phòng đơn</span>
        <b style="background-color: #d1c7ba; flex: 0.3; margin-right: 160px;"></b>
    </h5>
    <div class="room">
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
        <div class="room-cash">
            <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
            <div class="room_des">
                <p style="margin: 10px 5px 5px 5px">
                    <span style="color: rgb(185, 138, 138); text-decoration: underline; font-size: 19px">Mô tả: </span>
                    Căn phòng 30m2 với nội thất màu vàng kim sang trọng, gồm 1 giường to và 1 giường nhỏ phù hợp với gia
                    đình hoặc cặp đôi
                </p>
            </div>
            <p style="color: rgb(206, 169, 169); text-decoration: underline; font-size: 19px;">
                Giá: 3,000,000 vnđ
            </p>
            <button class="room_btn">Chọn phòng</button>
        </div>
    </div>
    <h4 class="section-title section-title-center container" style="margin-top:62px">
        <b style="background-color: #d1c7ba;"></b>
        <span class="section-title-main" style="color: #df932a; padding: 0 28px 0 28px;">Nhập thông tin đặt phòng</span>
        <b style="background-color: #d1c7ba;"></b>
    </h4>
    <div class="booking">
        <div class="booking-infor">
            <div class="bki">
                <div class="bki-padding">
                    <div class="bki_1">
                        <p>Số lượng phòng: 2</p>
                        <p>Số lượng người: 1 </p>
                    </div>
                    <div class="bki_2">
                        <p style="margin-top: 10px; text-align: center; font-size: 16px; font-weight: bold">Thông tin
                            chi tiết</p>
                        <label for="">Họ tên đầy đủ: </label>
                        <input type="text">
                        <br>
                        <label for="">Số điện thoại: </label>
                        <input type="text">
                        <br>
                        <label for="">Email: </label>
                        <input type="text">
                    </div>
                </div>
            </div>

            <div class="bki-price">
                <div class="bki-padding">
                    <h5 style="text-align: center; font-size: 16px;">Tổng chi phí</h5>
                    <p>Phí phòng</p>
                </div>
            </div>
        </div>
        <div class="book_button">
            <button>
                Gửi thông tin
            </button>
        </div>
    </div>
</div>
